<form action="/cocktails/search" method="POST">
  <label class="form-label" for="search"></label><br />
  <input
    type="text"
    id="search"
    name="search"
    placeholder="Enter Ingredient Here"
  /><br />
  <button class="btn btn-warning btn-md" type="submit" value="Submit">
    Search
  </button>
</form>
