<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="style.css" />
    <title>Wicked Cocktails!</title>
  </head>
  <body> 
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <img src="/img/neoncocktail.jpg" class="navbar-brand" style="width: 100px; height: 100px;" class="navbar-brand">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- made items inline -->
        <ul class="navbar-nav">
          <!-- show home wheather the user is logged in or not -->
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <% if (user) {%>
          <!-- show this if logged in -->
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cocktails/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cocktails/favorites">Favorites</a>
          </li>

          <%}else{%>
          <!-- show these if user not logged in -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/users/new">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cocktails/search">Search</a>
          </li> -->

          <% }%>
        </ul>
      </div>
    </nav>

    <!-- SHOWCASE -->

    <section class="bg-dark text-light py-5 text-center text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1><span class="text-warning">Welcome to...</span><img src="/img/logo.jpg" alt="wickedcocktails logo" style="width: 400px; height: 300px;"></h1>
         
          </div>
          <img class="img-fluid w-50 d-none d-sm-block px-5 p-lg-0 pt-5"  src="/img/showcase.jpg" alt="cocktails">
        </div>
      </div>
    </section>

    <!-- SEARCH BAR -->
    <section class="bg-secondary text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <p class="lead my-10 ">
            Tired of the same old drinks? Shake things up with our interactive cocktail generator! Simply type in a few keywords and we'll surprise you with a delicious, unique recipe. Give it a try and discover your new favorite drink!
          </p>
          

          <form action="/users" method="POST">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
          
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>
          
          <button class="btn btn-warning" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </section>



    <!-- INFO SECTIONS -->
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
          <img src="/img/moscowmule.jpg" style="width: 700px; height: 700px;" class="img-fluid" alt="two cocktails">
        </div>
        <div class="col-md p-5">
          <h2>Fun Fact:</h2>
          <p class="lead">
            the word "cocktail" is thought to have originated in the United States in the early 19th century. The first known use of the word was in a newspaper in New York City in 1806, where it was described as a "mingling of spirits." One theory about the origin of the word is that it comes from the French coquetier, which means "egg cup." This theory suggests that the original cocktails were served in small, egg-shaped cups. Another theory is that the word comes from the fact that cocktails were originally served with a rooster's tail feather as a garnish, and the word "cocktail" is a combination of the words "cock" (meaning rooster) and "tail."
          </p>
          <p>Sign up for MORE fun facts, AND great Reciepes!!!</p>
        </div>
      </div>
    </section>
