<%- include('../partials/header.ejs', {user}) %>

<%-include('../partials/form.ejs') %>

<!-- <form action="/cocktails/search" method="GET">
<label for="cocktail">Email:</label>
<input type="email" name="email" id="cocktail">

<button type="submit">Search</button>
</form> -->

<%- include('../partials/footer.ejs') %>



